@font-face {
  font-family: "Retro Computer Regular";
  src: url("/fonts/RetroComputer.ttf");
}

.retro-font{
  font-family: "Retro Computer Regular";
  color: #fff;
  text-shadow:
          2px 2px 0 #000,
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
}

.retro-gradient{
  background: linear-gradient(#0091ca, #2f2b5b);
}

.retro-bg{
  background-color: rgba(0,0,0,0) !important;
  background-image: url("/images/retrogrid.png") !important;
  background-position: center top;
  background-size: auto 100%;
}