/* Retro Elements
-------------------------------------------------- */

.retro-gradient {
    background: linear-gradient(#0091ca, #2f2b5b);
}

.retro-bg {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url("/images/retrogrid.png") !important;
    background-position: center top;
    background-size: auto 100%;
}

.retro-font{
    font-size: 3rem;
}

.jumbotron{
    color: white;
    font-weight: 700;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

/* Avatar Style
-------------------------------------------------- */

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

/* Retro Pixelated Button Styles
-------------------------------------------------- */

button {
    border-radius: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
}

.btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
}

.btn:hover, .btn:focus {
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(54, 176, 48, 0.25);
}

.btn:disabled {
    opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-lg {
    padding: 1.35rem 3.1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #36b030;
    border-color: #36b030;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary:hover {
    color: #fff;
    background-color: #2d9228;
    border-color: #2a8825;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(54, 176, 48, 0.5);
}

.btn-primary:disabled {
    color: #fff;
    background-color: #36b030;
    border-color: #36b030;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #2a8825;
    border-color: #277e22;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(54, 176, 48, 0.5);
}

.btn-secondary {
    color: #fff !important;
    background-color: #757575;
    border-color: #757575; }
.btn-secondary:hover {
    color: #fff;
    background-color: #626262;
    border-color: #5c5c5c; }
.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(117, 117, 117, 0.5); }
.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #757575;
    border-color: #757575; }
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #5c5c5c;
    border-color: #555555; }
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(117, 117, 117, 0.5); }

.btn-info {
    color: #fff !important;
    background-color: #5caee0;
    border-color: #5caee0;
}

.btn-info:hover {
    color: #fff;
    background-color: #3c9eda;
    border-color: #3199d8;
}

.btn-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(92, 174, 224, 0.5);
}

.btn-info:disabled {
    color: #1d1e1e;
    background-color: #5caee0;
    border-color: #5caee0;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #3199d8;
    border-color: #2893d4;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(92, 174, 224, 0.5);
}

.btn-primary:hover, .btn-secondary:hover, .btn-info:hover,
.btn-primary:focus, .btn-secondary:focus, .btn-info:focus,
.btn-primary:active, .btn-secondary:active, .btn-info:active {
    outline: none;
    box-shadow: none;
    color: #fff !important;
}

.btn-primary::before {
    background-color: #36b030;
}

.btn-secondary::before {
    background-color: #757575; }

.btn-info::before {
    background-color: #5caee0;
}

.btn-primary::before, .btn-secondary::before, .btn-info::before,
.btn-primary::after, .btn-secondary::after, .btn-info::after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.btn-primary::before, .btn-secondary::before, .btn-info::before {
    box-shadow: 0 -4px rgba(0, 0, 0, 0.3) inset, 0 4px rgba(255, 255, 255, 0.5) inset, -4px 0 rgba(255, 255, 255, 0.5) inset, 4px 0 rgba(0, 0, 0, 0.3) inset;
    z-index: -1;
}

.btn-primary:hover::before, .btn-secondary:hover::before, .btn-info:hover::before,
.btn-primary:focus::before, .btn-secondary:focus::before, .btn-info:focus::before,
.btn-primary:active::before, .btn-secondary:active::before, .btn-info:active::before {
    background-color: #313131;
    box-shadow: 0 -4px rgba(0, 0, 0, 0.5) inset, 0 4px rgba(255, 255, 255, 0.2) inset, -4px 0 rgba(255, 255, 255, 0.2) inset, 4px 0 rgba(0, 0, 0, 0.5) inset;
}

.btn-primary::after, .btn-secondary::after, .btn-info::after {
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.15);
}

/* Sticky Footer Styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    background-image: url("/images/bg-pixel.png");
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

li.ng-enter {
  -webkit-transition: 3s;
  transition: 3s;
  
  opacity: 0;
}

li.ng-enter-active {
  opacity: 1;
}

li.ng-leave {
  -webkit-transition: 2s;
  transition: 2s;
  
  opacity: 1;
}

li.ng-leave-active {
  opacity: 0;
}