html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-family: Arial;
    background: #fff;
}
a {
    text-decoration: underline;
    color: #039BE5;
}
.mdl-menu a {
    text-decoration: none;
}
.content {
    max-width: 1024px;
}
.mdl-card {
    display: block;
}
.mdl-textfield {
    width: 100%;
}

.mdl-layout__content {
    display: block;
}

/* Fixes an MDL bug where the header does not scroll on small devices */
.mdl-layout__container .mdl-layout--fixed-header .mdl-layout__content {
    overflow-y: visible;
    overflow-x: visible;
    overflow: visible;
}
.mdl-snackbar__action {
    color: #FFCA28;
}

/* Header */

.logo {
  font-family: 'Amaranth', sans-serif;
  text-decoration: none;
}

.logo .material-icons {
    top: 4px;
    font-size: 32px;
    margin-right: -2px;
    position: relative;
}

.logo h3 {
    background: url('/images/logo.png') no-repeat;
    background-size: 40px;
    padding-left: 50px;
    margin: 10px;
    color: white;
}

.header .mdl-layout__header-row {
    max-width: 1024px;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    margin: auto;
    position: relative;
}
@media screen and (max-width: 840px) {
    .header .mdl-layout__header-row.titlebar {
        height: 56px;
    }
    .titlebar h3 {
        font-size: 24px;
    }
    .titlebar h3 .material-icons {
        top: 2.5px;
        font-size: 23px;
    }
}
@media screen and (max-width: 479px) {
    .mdl-grid {
        padding: 0;
    }
    .mdl-card {
        font-size: 14px;
    }
}

/* Signed-in user */

#sign-in-button {
    margin-left: 10px;
    color: inherit;
}
#sign-out-button {
    color: inherit;
}
.mdl-button .material-icons {
    margin-top: -2px;
}
.mdl-button.mdl-button--icon .material-icons,
.mdl-button.mdl-button--fab .material-icons {
    margin-top: 0;
}

/* Navigation Bar */

.header .mdl-tab {
    padding-left: 23px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    margin: auto;
    max-width: 1024px;
}
@media screen and (max-width: 609px) {
    .header .mdl-tab {
        width: auto;
    }
}
.header .tab {
    padding: 0;
    max-width: none;
}

@media screen and (max-width: 840px) {
    #add {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 998;
        top: auto;
    }
}
#sign-out-button {
    right: 0;
    position: absolute;
}

/* Drawer */

.mdl-layout__drawer-button {
    display: none;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.is-active,
.is-active .mdl-menu__item {
    color: black;
    background-color: #EBEBEB;
}
.mdl-layout__drawer {
    border-right-width: 0;
}
.mdl-navigation__link .material-icons, .mdl-menu__item .material-icons {
    position: relative;
    margin-top: -2px;
    margin-right: 10px;
}
.mdl-menu__item .material-icons {
    top: 7px;
}
@media screen and (max-width: 479px) {
    .mdl-layout__drawer-button {
        display: block;
        top: 3px;
    }
}

/* New Post Page */

#page-add {
    display: flex;
    text-align: center;
 }
#page-add .mdl-cell {
    width: auto;
    min-width: 300px;
}
#newPictureContainer {
    margin: 0;
    max-width: 100%;
    max-height: 400px;
}
@media screen and (max-width: 479px) {
    .mdl-snackbar__action {
        margin-right: 60px;
    }
}

/* Splash Page */

#page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0288D1;
    background: radial-gradient(circle, #039BE5, #01579b);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

/* Post */

.stars {
    display: block;
}

.avatar {
    height: 32px;
    width: 32px;
    display: inline-block;
    background-size: 32px 32px;
    border-radius: 32px;
    border: 2px white solid;
    margin-right: 10px;
    background-image: url('/images/silhouette.jpg');
}

.username {
    display: inline-block;
    line-height: 38px;
    vertical-align: top;
    /*width: calc(100% - 46px);*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.posts-container {
  overflow-y: scroll;
  padding: 5px;
  margin: 5px;
  background: #1088c1;
  border-radius: 20px;
  list-style: none;
}

.post {
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  background: #f5eeee;  
}

.post ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.post .star-count {
    color: #444;
/*    padding: 0 10px 0 5px;*/
    font-weight: bold;
    display: inline-block;
    top: -7px;
    position: relative;
}
.post .star {
    position: absolute;
    top: 10px;
    right: 0;
}
.post .star .material-icons {
    font-size: 20px;
    color: #ffcb0c;
    cursor: pointer;
}
.post .star .material-icons:HOVER {
    opacity: 0.6;
}
.post .star .starred {
    display: none;
}

.post .message-text {
    line-height: 1.5;
    white-space: pre-wrap;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 5px;
}


.deletebtn {
    height: 30px;
    min-width: 30px;
    width: 30px;    
    float: right;
    display: none;    
}
 
.post:hover .deletebtn{
    display: block;
}

.add {
    height: 30px;
    min-width: 30px;
    width: 30px;    
}

.addpost {
    padding: 5px;
    margin: 5px 5px 0px 5px;
    background: #1088c1;
    border-radius: 20px;
}

.addpost h2 {
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    margin: 0px 0px 0px 20px;
}

.retro-container {
  overflow-y: scroll;
  padding: 5px;
  margin: 5px;
  background: #1088c1;
  border-radius: 20px;
  list-style: none;
}

.retro {
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  background: #f5eeee;  
}

.retro ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.retro-name {
  display: block;
  line-height: 38px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.retro-add {
  height: 30px;
  min-width: 30px;
  width: 30px;  
  display: inline;
  right: -10px;
  vertical-align: middle;
}

.retro-title {
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  vertical-align: middle;
}
