<div class="mdl-layout__content mdl-color--grey-100">
  <h1> My Retros List</h1>

  <section class="mdl-grid content" id="recent-posts-list" ng-show="showRetroList">
    
    <div class="mdl-cell--4-col">
      <div class="addretro">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--amber-400 mdl-shadow--4dp mdl-js-ripple-effect" ng-click="addRetroClicked()">
          <i class="material-icons">add_box</i>
        </button>
        <ul>
          <li ng-repeat="retro in retroList">
            <h2> {{ retro.name }} </h2>
            <a ng-href='/#/home/{{retro.retroId}}'> {{ retro.retroId }} </a>
          </li>
        </ul>
      </div>
  </section>

  <!-- Show the add post form -->
  <section class="mdl-grid content" ng-show="showAddRetro">
    
    <div class="mdl-cell mdl-cell--12-col mdl-grid">      
      <!-- Card containing the inputs to add a new messages -->
      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
        <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
          <h2 class="mdl-card__title-text">New Retro</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          <form>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <textarea class="mdl-textfield__input"  ng-model="retroName" placeholder="Retro Name ..."></textarea>
            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="createRetro()">
              Add Retro
            </button>
          </form>
        </div>
      </div>
    </div>
    
  </section>
</div>