<div class="mdl-layout__content mdl-color--grey-100">

  <section class="mdl-grid" ng-show="showRetroList">
    <div class="mdl-layout-spacer"></div>
    
    <div class="mdl-cell--6-col">
      <div class="retro-title"> My Retros List</div>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--amber-400 mdl-shadow--4dp mdl-js-ripple-effect retro-add" ng-click="addRetroClicked()">
        <i class="material-icons">add_box</i>
      </button>


      <ul class="retro-container">
        <li ng-repeat="retro in retroList" class="retro">
          <retro-card retro="retro"></retro-card>
        </li>
      </ul>
    </div>
    
    <div class="mdl-layout-spacer"></div>

  </section>

  <!-- Show the add post form -->
  <section class="mdl-grid" ng-show="showAddRetro">
    <div class="mdl-layout-spacer"></div>
    
    <div class="mdl-cell mdl-cell--6-col">      
      <!-- Card containing the inputs to add a new messages -->
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
          <h2 class="mdl-card__title-text">New Retro</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          
          
          
          
          <form name="retrocreateform">
            
            <md-input-container class="md-block">
              <label>Retro Name:</label>
              <textarea class="mdl-textfield__input" name="retroName" ng-model="retroName" placeholder="Retro Name ..." ng-minlength=8 ng-maxlength=20 md-select-on-focus></textarea>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
              <label>Retro Type:</label>
              <md-select ng-model="selectedRetroType">
                <md-option ng-repeat="retroType in retroTypes" value="{{retroType.id}}">
                  {{retroType.name}}
                </md-option>
              </md-select>
            </md-input-container>

            <div class="error" ng-show="retrocreateform.retroName.$dirty && retrocreateform.retroName.$invalid">
              <small class="error" ng-show="retrocreateform.retroName.$error.minlength">
                  Retro name is at least 8 characters
              </small>
              <small class="error" ng-show="retrocreateform.retroName.$error.maxlength">
                  Retro name is max 20 characters
              </small>
            </div>
            
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="backClicked()" >
              Back
            </button>
            
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="createRetro()" ng-disabled="retrocreateform.$invalid">
              Add Retro
            </button>
          </form>
        </div>
      </div>
    </div>
    
    <div class="mdl-layout-spacer"></div>
  </section>
</div>