<div class="container" ng-show="showRetroList">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-info btn-lg btn-block mb-3 mt-3" id="anon-sign-in-button" ng-click="addRetroClicked()">
        <b>Add New Retro Card</b>
      </button>
    </div>
  </div>
</div>

<div class="container-fluid" ng-show="showRetroList">
  <div class="row text-center">
    <div class="col">
      <div ng-repeat="retro in retroList" style="display: inline-block">
        <retro-card retro="retro"></retro-card>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-show="showAddRetro">
  <div class="row">
    <div class="col">
      <h4 class="text-info my-3">Create Retro Card</h4>
      <form>
        <div class="form-group" name="retrocreateform">
          <input class="form-control form-control-lg mb-3" type="text" placeholder="Enter Retro Card Name" ng-model="retroName" ng-minlength=8 ng-maxlength=20>
          <select class="form-control form-control-lg" ng-model="selectedRetroType">
            <option ng-repeat="retroType in retroTypes" ng-value="retroType.retroTypeId">{{retroType.name}}</option>
          </select>
        </div>
        <button class="btn btn-secondary btn-lg" ng-click="backClicked()">Back</button>
        <button class="btn btn-info btn-lg" type="submit" ng-click="createRetro()" ng-disabled="retrocreateform.$invalid">Submit</button>
      </form>
    </div>
  </div>
</div>