

<div class="mdl-layout__content mdl-color--grey-100">
  <!-- Show the add post form -->
  <section class="mdl-grid" ng-show="showRetroSelector">
    
    <div class="mdl-layout-spacer"></div>
    
    <div class="mdl-cell mdl-cell--6-col">      
      <!-- Card containing the inputs to add a new messages -->
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
          <h2 class="mdl-card__title-text">Enter RetroID</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          <form id="retroid-form">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <textarea class="mdl-textfield__input" rows="1" ng-model="retroIdInput" placeholder="RetroId ..."></textarea>
            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="retroIdSubmit()">
              Go To Retro
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="mdl-layout-spacer"></div>
    
  </section>
  
  <section class="mdl-grid" ng-show="showAddPost">
    
    <div class="mdl-layout-spacer"></div>

    <div class="mdl-cell mdl-cell--6-col">      
      <!-- Card containing the inputs to add a new messages -->
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
          <h2 class="mdl-card__title-text">New Post</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          <form id="message-form">
            <input class="mdl-textfield__input" type="hidden" id="new-post-type" ng-model="typeInput">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <textarea class="mdl-textfield__input" rows="3" id="new-post-message" ng-model="messageInput" placeholder="Post message ..."></textarea>
            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="formSubmit()">
              Add post
            </button>
          </form>
        </div>
      </div>
    </div>
    
    <div class="mdl-layout-spacer"></div>

  </section>

  <retro-tabs></retro-tabs>

</div>