<div class="container" ng-show="showRetroSelector">
  <div class="row">
    <div class="col">
      <form id="retroid-form" name="retroform">
        <div class="form-group">
          <h4 class="text-info my-3">Enter Retro ID</h4>
          <input rows="1" class="form-control form-control-lg mb-3" name="retroIdInput" ng-model="retroIdInput" ng-minlength=6 ng-maxlength=8 required>
          <div class="mb-3" ng-show="retroform.retroIdInput.$dirty && retroform.retroIdInput.$invalid">
            <small ng-show="retroform.retroIdInput.$error.minlength">
              RetrodID is at least 6 characters
            </small>
            <small ng-show="retroform.retroIdInput.$error.maxlength">
              RetrodID is max 8 characters
            </small>
          </div>
          <button type="submit" class="btn btn-primary btn-lg" ng-click="retroIdSubmit()" ng-disabled="retroform.$invalid">
            Enter Retro
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container" ng-show="showAddPost">
  <div class="row">
    <div class="col">
      <form id="message-form" name="msgform">
        <div class="form-group">
          <h4 class="text-info my-3">Add New Post</h4>
          <input class="form-control form-control-lg mb-3" rows="3" id="new-post-message" name="messageInput" ng-model="messageInput" placeholder="Post message ..." ng-minlength=20 ng-maxlength=1024>
          <div class="mb-3" ng-show="msgform.messageInput.$dirty && msgform.messageInput.$invalid">
            <small ng-show="msgform.messageInput.$error.minlength">
              Post must be at least 20 characters
            </small>
            <small ng-show="msgform.messageInput.$error.maxlength">
              Post should be max 1024 characters
            </small>
          </div>
          <button class="btn btn-secondary btn-lg" ng-click="backClicked()">
            Back
          </button>
          <button type="submit" class="btn btn-primary btn-lg" ng-click="formSubmit()" ng-disabled="msgform.$invalid">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="RetroNotFoundModal" tabindex="-1" role="dialog" aria-labelledby="RetroNotFoundModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RetroNotFoundModalLabel">Retro not found</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        No such retro with retroId - {{retroId}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<retro-tabs></retro-tabs>

