<div id="page-splash">
  <div class="retro-gradient">
    <div class="jumbotron jumbotron-fluid retro-gradient retro-bg">
      <div class="container">
        <div class="row h-100">
          <div class="col-4 text-center my-auto">
            <img src="/images/retroman.png" width="75%" height="auto">
          </div>
          <div class="col-8 my-auto">
            <h2 class="retro-font">I am Retroman.<br>How can I help you?</h2>
            <p class="retro-font mt-4">Think like a proton. Always positive.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <button type="button" class="btn btn-info btn-lg btn-block mb-3" id="sign-in-button" ng-click="signInClicked()">
          <b>Create a Retro Board</b><br>
          <small>(require a Google account to log in)</small>
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-info btn-lg btn-block mb-3" id="anon-sign-in-button" ng-click="anonSignInClicked()">
          <b>Join a Retro Board</b><br>
          <small>(require Retro ID to participate)</small>
        </button>
      </div>
    </div>
  </div>
</div>