<!-- Splash screen -->
<section id="page-splash">
  <h3 class="logo">retroman</h3>
  <div>
    <button id="sign-in-button" ng-click="signInClicked()" class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect"><i class="material-icons">account_circle</i> Sign in with Google</button>
  </div>
  <div>
    <button id="anon-sign-in-button" ng-click="anonSignInClicked()" class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">account_circle</i> Anonymous Login</button>
  </div>
</section>
