<div class="row">
  <!--<div class="avatar" ng-style="{'background-image':'url({{item.avatarURL}})'}"></div>-->
  <div class="col">
    <button type="button" class="close" aria-label="Close" ng-click="deletePostClicked(item, retroId)">
      <span aria-hidden="true">&times;</span>
    </button>

    <h5>{{item.username}}</h5>
    <p>{{item.text}}</p>
    
    <span class="far fa-star" ng-click="onStarClicked(item)" ng-if="item.starred == false"> </span>
    <span class="fas fa-star" ng-click="onStarClicked(item)" ng-if="item.starred == true">  </span>
    <span class="star-count"> {{item.starCount}} </span>
  </div>
</div>