<div class="row">
  <img ng-src="{{item.avatarURL}}" class="avatar" alt="">
  <div class="col">
    <button type="button" class="close" aria-label="Close" ng-click="deletePostClicked(item, retroId)">
      <span aria-hidden="true">&times;</span>
    </button>

    <small>{{item.username}}</small>
    <h5 class="text-secondary">{{item.text}}</h5>
    
    <span class="far fa-star" ng-click="onStarClicked(item)" ng-if="item.starred == false"></span>
    <span class="fas fa-star text-warning" ng-click="onStarClicked(item)" ng-if="item.starred == true"></span>
    <span class="star-count"> {{item.starCount}} </span>
  </div>
</div>