<div class="container-fluid" ng-show="showRecentPosts">
  <div class="row my-4">
    <div class="col-9">
      <h1>{{retroName}}</h1>
    </div>
    <div class="col-3">
      <select class="custom-select" ng-model="sortBy" ng-change="sortByChanged(sortBy)">
        <option value="0" selected>View by latest post</option>
        <option value="1">View by most popular</option>
      </select>
    </div>
  </div>
</div>

<div class="container-fluid" ng-show="showRecentPosts">

  <div class="row">
    <div class="col">
      <div ng-if="includeMobileTemplate">
        <div class="tabbable tabs-below">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item" ng-repeat="(fieldId, name) in currentRetroType.fields" ng-class="getTabClass(fieldId)" ng-click="setActiveTab(fieldId)">
              <a class="nav-link" data-toggle="tab" data-target="#tab-{{fieldId}}">{{name}}</a>
            </li>
          </ul>
          
          <div class="tab-content">
            <div ng-repeat="(fieldId, name) in currentRetroType.fields" id="tab-{{fieldId}}" ng-class="getTabPaneClass(fieldId)"> 
              <button class="btn btn-primary" ng-click="addPostClicked(fieldId)">
                New Post
              </button>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in postList" ng-if="item.type == fieldId">
                  <message-card item="item"></message-card>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="includeDesktopTemplate">
        <div class="row">
          <div class="col" ng-repeat="(fieldId, name) in currentRetroType.fields">
            <div class="addpost mb-3">
              <h4 class="text-info text-center my-3">{{name}}</h4>
              <button class="btn btn-info btn-lg btn-block" ng-click="addPostClicked(fieldId)">
                Add Post
              </button>
            </div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="item in postList" ng-if="item.type == fieldId">
                <message-card item="item"></message-card>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>