<div class="container" ng-show="showRecentPosts">
  <div class="row my-4 text-center">
    <div class="col">
      <h1><b>{{retroName}}</b></h1>
      <h6 class="text-info text-center text-uppercase"><b>{{currentRetroType.name}}</b></h6>
    </div>
  </div>
  <div class="row my-4">
    <div class="col">
      <select class="custom-select" ng-model="sortBy" ng-change="sortByChanged(sortBy)">
        <option value="0" selected>View by latest post</option>
        <option value="1">View by most popular</option>
      </select>
    </div>
  </div>
</div>

<div class="container" ng-show="showRecentPosts">
  <div class="row">
    <div class="col">
      <div ng-if="includeMobileTemplate">
        <div class="tabbable tabs-below">

          <ul class="nav nav-tabs nav-justified mb-2" ng-if="currentRetroType.name =='Sentiments' || currentRetroType.name =='Restrospective'">
            <li class="nav-item" ng-repeat="(fieldId, name) in currentRetroType.fields" ng-class="getTabClass(fieldId)" ng-click="setActiveTab(fieldId)">
              <a class="nav-link" data-toggle="tab" data-target="#tab-{{fieldId}}">
                <i class="fas fa-smile-beam" ng-if="name == 'Glad'"></i>
                <i class="fas fa-frown" ng-if="name == 'Sad'"></i>
                <i class="fas fa-angry" ng-if="name == 'Mad'"></i>
                <i class="fas fa-play-circle" ng-if="name == 'Start doing'"></i>
                <i class="fas fa-stop-circle" ng-if="name == 'Stop doing'"></i>
                <i class="fas fa-sync-alt" ng-if="name == 'Continue doing'"></i>
                {{name}}
              </a>
            </li>
          </ul>
          
          <div class="tab-content">
            <div ng-repeat="(fieldId, name) in currentRetroType.fields" id="tab-{{fieldId}}" ng-class="getTabPaneClass(fieldId)"> 
              <button class="btn btn-primary btn-lg btn-block" ng-click="addPostClicked(fieldId)">
                <b>Add Post</b>
              </button>
              <ul class="list-group mt-4">
                <li class="list-group-item my-1" ng-repeat="item in postList" ng-if="item.type == fieldId">
                  <message-card item="item"></message-card>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="includeDesktopTemplate">
        <div class="row">
          <div class="col" ng-repeat="(fieldId, name) in currentRetroType.fields">
            <div class="addpost mb-3">
              <h5 class="text-center text-uppercase my-3" ng-if="currentRetroType.name =='Sentiments'">
                <i class="fas fa-smile-beam" ng-if="name == 'Glad'"></i>
                <i class="fas fa-frown" ng-if="name == 'Sad'"></i>
                <i class="fas fa-angry" ng-if="name == 'Mad'"></i>
                {{name}}
              </h5>
              <h5 class="text-center text-uppercase my-3" ng-if="currentRetroType.name =='Restrospective'">
                <i class="fas fa-play-circle" ng-if="name == 'Start doing'"></i>
                <i class="fas fa-stop-circle" ng-if="name == 'Stop doing'"></i>
                <i class="fas fa-sync-alt" ng-if="name == 'Continue doing'"></i>
                {{name}}
              </h5>
              <button class="btn btn-primary btn-lg btn-block" ng-click="addPostClicked(fieldId)">
                <b>Add Post</b>
              </button>
            </div>
            <ul class="list-group">
              <li class="list-group-item my-1" ng-repeat="item in postList" ng-if="item.type == fieldId">
                <message-card item="item text-light"></message-card>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>