<div ng-if="includeMobileTemplate" ng-show="showRecentPosts">
  <div class="retro-header-mobile"> {{retroName}} </div>
  
  <md-tabs md-dynamic-height md-border-bottom>
        
    <md-tab ng-repeat="(fieldId, name) in currentRetroType.fields" label="{{name}}">
      <md-tab-label>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--amber-400 mdl-shadow--4dp mdl-js-ripple-effect add" id="{{fieldId}}" ng-click="addPostClicked(fieldId)">
            <i class="material-icons">add_box</i>
          </button>
          <span>{{name}}</span>
      </md-tab-label>
   
      <md-tab-body>
        <div ng-data="postList"></div>
        <ul class="posts-container">
          <li ng-repeat="item in postList" ng-if="item.type == fieldId" class="post post-{{item.postId}}" >          
            <message-card item="item"></message-card>
          </li>
        </ul>
      </md-tab-body>
    </md-tab>     
        
 </md-tabs>
</div>
    
<div ng-if="includeDesktopTemplate" ng-show="showRecentPosts">
  <!-- Show a list of recent posts -->
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="retro-header"> {{retroName}} </div>
    </div>
    
    
    <div ng-repeat="(fieldId, name) in currentRetroType.fields" class="mdl-cell mdl-cell--4-col">
      <div class="addpost">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--amber-400 mdl-shadow--4dp mdl-js-ripple-effect add" id="{{fieldId}}" ng-click="addPostClicked(fieldId)">
          <i class="material-icons">add_box</i>
        </button>
        <h2 class="add" id="{{fieldId}}">{{name}}</h2>
      </div>
      <div ng-data="postList"></div>
      <ul class="posts-container">
        <li ng-repeat="item in postList" ng-if="item.type == fieldId" class="post post-{{item.postId}}" >          
          <message-card item="item"></message-card>
        </li>
      </ul>
    </div>
    
    
  </div>
</div>